@import url("https://fonts.googleapis.com/css2?family=Fredoka+One&family=Notable&family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=EB+Garamond:wght@500&display=swap");

:root {
    --fc-dark: #353535;
    --fc-light: #999999;
    --fc-accent: red;
}

* {
    scroll-behavior: smooth;
}

img {
    width: 100%;
    object-fit: cover;
    margin: 0.5rem 0;
    filter: brightness(75%);
}

a {
    text-decoration: none;
    color: var(--fc-dark);
}

.about img {
    max-height: 10rem;
}

.sliderA {
    animation: slideA linear infinite 400s;
}
.sliderB {
    animation: slideB linear infinite 400s;
}
.sliderA-overlay {
    animation: slideA-overlay linear infinite 400s;
}
.sliderB-overlay {
    animation: slideB-overlay linear infinite 400s;
}

@keyframes slideA {
    0% {
        transform: translateX(-60%);
    }
    50% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-60%);
    }
}
@keyframes slideB {
    0% {
        transform: translateX(0%);
    }
    50% {
        transform: translateX(-60%);
    }
    100% {
        transform: translateX(0%);
    }
}

@keyframes slideA-overlay {
    0% {
        transform: translate(-60%, -100%);
    }
    50% {
        transform: translate(0, -100%);
    }
    100% {
        transform: translate(-60%, -100%);
    }
}
@keyframes slideB-overlay {
    0% {
        transform: translate(0%, -100%);
    }
    50% {
        transform: translate(-60%, -100%);
    }
    100% {
        transform: translate(0%, -100%);
    }
}
